html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 65px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

footer > .container > div {
  margin: 20px 0px;
}

.newTodoItem {
  margin-bottom: 10px
}

.todoItem {
  overflow: hidden
}

.todoItemDesc > h4 {
  margin-top: 0px
}

.todoItemCheck {
  margin-right: 20px
}

.todoItemCheckIncomplete {
  color: #666666
}
.todoItemCheckIncomplete:hover {
  color: #888888
}

.todoItemCheckComplete {
  color: #00BC00
}
.todoItemCheckComplete:hover {
  color: #008900
}

.todoItemDelete {
  color: #EB0000
}

.todoItemDelete:hover {
  color: #A70000
}

.btn.delete {
  padding: 2px 2px;
}
.btn.delete:focus {
  outline: none;
}