<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>To-do</h1>

      <form class="form-inline" ng-submit="tc.createTodo()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" name="title" class="form-control" ng-model="tc.newTodo.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" name="description" class="form-control" ng-model="tc.newTodo.description" placeholder="Description">
        </div>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
      </form>
      
      <br/>

      <div class="list-group">
        <div class="todoItem list-group-item" ng-repeat="id in tc.todos.allIds track by $index">
          <div class="todoItemCheck pull-left">
            <a href="#" ng-click="tc.toggleComplete(tc.todos.byId[id])">
              <i class="fa fa-2x" ng-class="tc.todos.byId[id].completed ? 'fa-check-square-o todoItemCheckComplete' : 'fa-square-o todoItemCheckIncomplete'"></i>
            </a>
          </div>
          <div class="todoItemDesc pull-left">
            <h4>{{tc.todos.byId[id].title}} <i ng-if="tc.todos.byId[id].isDeleting || tc.todos.byId[id].isEditing" class="fa fa-spinner fa-pulse fa-fw"></i></h4>
            {{tc.todos.byId[id].description}}
          </div>
          <div class="pull-right">
            <a href="#" class="btn delete" ng-click="tc.deleteTodo(tc.todos.byId[id])" ng-disabled="tc.todos.byId[id].isDeleting">
              <i class="fa fa-close todoItemDelete"></i>
            </a>
          </div>
        </div>
        <div ng-if="tc.todos.isFetching" class="text-center">
          <i class="fa fa-spinner fa-pulse fa-fw fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
</div>