<footer class="footer">
  <div class="container">

    <!-- Footer content -->
    <div class="text-muted">
      <i class="fa fa-copyright"></i> 2016 Tim Arnal | <a href="https://gitlab.com/moosehawk/reactmpls" target="_blank">GitLab
      <div class="pull-right"><a href="https://gitlab.com/moosehawk/reactmpls/blob/master/LICENSE" target="_blank">MIT License</a></div>
    </div>
    
  </div>
</footer>