<nav ng-controller="HeaderCtrl as hc" class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Header navbar -->
    <div class="navbar-header">

      <!-- Mobile menu dropdown -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigations</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Site title -->
      <a class="navbar-brand" ui-sref="index">React Mpls</a>

    </div>
    
    <!-- Navbar menu -->
    <div class="collapse navbar-collapse">

      <!-- Navbar menu items -->
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="index">Index</a></li>
        <li ui-sref-active="active"><a ui-sref="todos">Todos</a></li>
      </ul>
      
      <!-- Login/User menu -->
      <ul class="nav navbar-nav navbar-right">

        <!-- Display if user is not logged in -->
        <li ng-if="!hc.user"><a ui-sref="login">Login</a></li>

        <!-- Display if user is logged in -->
        <li ng-if="hc.user" class="dropdown">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{hc.user.email}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-click="hc.logout()"><a href>Logout</a></li>
          </ul>
        </li>

      </ul>

    </div>

  </div>
</nav>